.title-cards{
    margin-top: 30px;
    margin-bottom: 20px;
}
.title-cards h3{
    margin-bottom: 8px;
}
.card-list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.card-list::-webkit-scrollbar{
    display: none;
}
.card-list img{
    width: 240px;
    border-radius:4px;
    cursor: pointer;
}
.card-list .card {
  flex: 0 0 auto;
  width: 240px;
  border-radius: 4px;
  overflow: hidden;
  /* background-color: #141414; */
  color: #fff;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 800px) {
    .title-cards{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .title-cards h2{
        font-size: 20px;
    }
    .card-list img{
        width: 200px;
    }
      .card-list p{
        font-size: 12px;
      }
}
@media (max-width: 500px) {
    .title-cards h2{
        font-size: 15px;
    }
    .card-list img{
        width: 170px;
    }
      .card-list p{
        font-size: 10px;
      }
}